html {
  background: linear-gradient(rgb(131, 33, 152), rgb(0, 255, 251));
  background-attachment: fixed;
}

.app-container {
  background: linear-gradient(rgb(131, 33, 152), rgb(0, 255, 251));
  background-attachment: fixed;
}